.recipe-ingredients-list {
}

.recipe-card-image{
  width: 12em
}

.recipe-card-ingredients-list-entry{
    display: flex;
    flex-direction: row;
}

.recipe-card-ingredients-list-entry-ingredient{
  padding: 0 1em;
  text-align: left;
  width: 10em
}

.recipe-card-ingredients-list-entry-measure{
  padding: 0 1em;
  width: 10em;
  text-align: left;
}

