.recipe-selection-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.recipe-selection-card {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.recipe-selection-card-link {
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.recipe-selection-details-container{
  height: 18em;
  display: grid;
  grid-template-rows: 60% 30% 10%;
}