.topbar-container {
  display: flex;
  flex-direction: row;
  justify-items: left;
  align-items: center;
  position:sticky;
  top: 0;
  z-index: 1;
  background-color: #8FBA74;
  height: 3em;
  overflow: hidden;

}

.topbar-logo {
  padding: 0 1em 0 0.5em;
  height: 2em
}

.Mui-selected {
  background-color: white;
}





@media only screen and (min-width: 480px) {
  .topbar-container{
    height: 3em
  }
  .topbar-logo{
    height: 2em
  }

}

@media only screen and (min-width: 768px) {
  .topbar-container{
    height: 4em
  }
  .topbar-logo{
    height: 3em
  }

}

@media only screen and (min-width: 1024px) {
  .topbar-container{
    height: 5em
  }
  .topbar-logo{
    height: 4em
  }

}


