.ingredients-summary {
  text-align: left;
  margin: 0 1em
}

.ingredients-summary-container {
  display: flex;
  flex-direction: row;
}

.ingredients-menuChoices-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  margin: 1em;
  background-color: #8FBA74;
  width: 20em;
  border-radius: 4px;
}

.ingredients-menuChoices-slot {
  display: flex;
  position: relative;
  margin: 0.5em;
  width: 16em
}

.ingredients-menuChoices-slot>img {
  height: 4em;
  width: 4em;
  object-fit: cover;
  border-radius: 4px;
  background-color: wheat;
}

.ingredients-menuChoices-slot-label {
  margin: 0 0 0 0.5em;
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
}

/* ########################################### */

.ingredients-list-container {
  background-color: #8FBA74;
  margin: 1em;
  padding: 1em;
  border-radius: 4px;
  text-align: left;
  width: 100%

}

.ingredients-list-title{
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

.ingredients-list-subtitle{
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
  padding: 0 0 1em 0
}

.accordion-entry{
  margin: 0.5em 0
}

.ingredients-list-slot-title{
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
  padding: 0 1em
}

.ingredients-list-slot-list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75em;
  text-align: left;
  padding: 0.25em
}

.ingredients-list-slot-image {
  height: 3em;
  width: 3em;
  object-fit: cover;
  border-radius: 4px;
}

.ingredient-checkbox {
  margin: 0 1em 0 0
}

/* ########################################### */

.shoppingList {
  font-size: 1em;
  text-align: left;
  list-style-type: none;
  padding: 0
}

.shoppingList-title{
  font-size: 1em;
  font-weight: bold;
}

.shoppingList-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em;
  list-style-type: disc;
}

.list-checkbox:checked + label{
  text-decoration: line-through;
  color: grey;
}

.shoppingList-item-name {
  font-size: 0.75em;
  text-align: left;
}




