.recipe-ingredients-list {
}

.recipe-card-image{
  width: 100%;
  object-fit: contain;
}

.recipe-dialog-image-info-container{
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.recipe-dialog-info-container{
  display: flex;
  flex-direction: column;
  padding: 0 2em
}

.recipe-dialog-info-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding: 0.25em 0;
}

.recipe-dialog-icon{
  padding: 0 0.5em 0 0
}

.recipe-dialog-chip{
  padding: 0 0.5em 0 0
}

/* .recipe-card-ingredients-list-entry{
    display: flex;
    flex-direction: row;
}

.recipe-card-ingredients-list-entry-ingredient{
  padding: 0 1em;
  text-align: left;
  width: 10em
}

.recipe-card-ingredients-list-entry-measure{
  padding: 0 1em;
  width: 10em;
  text-align: left;
} */

