.home-container {
  position: relative;
  background-color: wheat;
}

.home-image {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  object-fit: cover;
}

#home-text {
  padding: 1em 0;
  position: absolute;
  width: 100%;
  font-size: 3em;
  color: black;
  font-weight: bold;
}

.beginButton {
  margin: 0.25em;
  padding: 0 1em;
  width: auto;
  height: 2em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.5em;
  font-weight: bold;
  background-color: #8FBA74;
}

.beginButton:hover {
  background-color: wheat
}

@media only screen and (max-width: 480px) {
  #home-text {
    font-size: 1.5em
  }
}

@media only screen and (min-width: 480px) {
  #home-text {
    font-size: 2em
  }
}

@media only screen and (min-width: 768px) {
  #home-text {
    font-size: 2em
  }
}

@media only screen and (min-width: 1024px) {
  #home-text {
    font-size: 3em
  }
}

@media only screen and (min-width: 1200px) {
  #home-text {
    font-size: 3em
  }
}