.navBarRegion-container{
  margin: auto;
}

.region-button {
  margin: 0.25em;
  width: 9em;
  height: 2em;
  border-radius: 100px;
  cursor: pointer
}

.region-button:hover {
  background-color: #8FBA74
}

