.navBarRegion-container{
  margin: auto;
}

.region-button {
  margin: 0.25em;
  width: 9em;
  height: 2em;
  border-radius: 100px;
  cursor: pointer
}

.region-button:hover {
  background-color: #8FBA74
}







@media only screen and (max-width: 480px) {
  .region-button{
    width: 9em;
    font-size: 0.5em;
  }

}

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1024px) {


}

@media only screen and (min-width: 1200px) {


}

