.navBarRegion-container-desktop{
  margin: auto;
  display: none;
}

.region-button {
  margin: 0.25em;
  width: 10em;
  height: 3em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75em;
  font-weight: bold;
  background-color: wheat;
}

.region-button:hover {
  background-color: #8FBA74
}

.regionsDrawer{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 240px
}

.regionsDrawer-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  width: 100%
}

.regionsDrawer-header-close,
.regionsDrawer-header-spacer {
  display: flex;
  margin: 0 1em;
  justify-content: center;
  align-content: center;
  width: 20%
}

.regionsDrawer-header-clearButton-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.regionsDrawer-header-clearButton {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid;
  border-color: #8FBA74;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}







/* @media only screen and (max-width: 480px) {
  .region-button{
    width: 9em;
    font-size: 0.5em;
  }

} */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
  .navBarRegion-container-mobile{
    display: none;
  }


  .navBarRegion-container-desktop{
    display: block;
  }


}

@media only screen and (min-width: 1024px) {


}

@media only screen and (min-width: 1200px) {


}

