.searchbar-container {
  margin: auto;
  position: relative;
  padding: 1em;
  height: 3em;
}

.searchbar-title {
  position: absolute;
  text-align: left;
  padding: 0.5em 0;
  width: 90%;
  top: 0;
  left: 5%;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

#searchbar-wrapper {
  position: absolute;
  top: 2em;
  left: 5%;

  box-sizing: border-box;
  padding: 1em;
  border: 2px solid;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 1em;
  align-items: center;
  background-color: white;
}

#searchbar-wrapper>input {
  flex-grow: 2;
  border: none;
  padding: 0 1em;
}

#searchbar-wrapper>input:focus {
  outline: none
}

.searchbar-icon:hover {
  scale: 1.4
}





/* @media only screen and (max-width: 480px) {
  .searchbar-container{
    height: 2em
  }
  .searchbar-title{
    font-size: 1.5em;
  }
  #searchbar-wrapper{
    height: 1em;
    top: 3em
  }

} */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 1200px) {}