.menuChoices-container {
  display: flex;
  flex-direction: row;
  justify-items: end;
  align-items: center;
  margin: 0 2em
}

.menuChoices-slot {
  display: flex;
}

.menuChoices-slot>img {
  margin: 0 0.5em;
  height: 4em;
  width: 4em;
  object-fit: cover;
  border-radius: 4px;
}

.menuChoices-delete-button {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.menuChoices-delete-icon {
  z-index: -1;
  pointer-events:none;
  color: darkred
}