.recipe-selection-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.recipe-selection-card{
  margin: 1em;
  padding: 1em
}

.recipe-selection-card-link{
  cursor: pointer;

}